<h2>Edit Person</h2>
<%= form_for @person, :url => create_person_path do |p| %>
  <p><%= p.text_field :name, :placeholder => "Name" %></p>
	<p><%= p.text_field :email, :placeholder => "Email" %></p>
  <p><%= p.password_field :password, :placeholder => "Password" %></p>
  <p><%= p.password_field :password_confirmation, :placeholder => "Confirm Password" %></p>
  <p><%= p.submit "Edit", :class => 'button' %></p>
<% end %>